@font-face {
  font-family: "Ainmom";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Ainmom.woff")
    format("woff");
  font-weight: bolder;
  font-style: normal;
  font-size: large;
}

